
      body {
        height: 100%;
        background: #eee;
        overflow: scroll;
        width: 85%;
        max-width: 600px;
        margin: 0 auto;
        padding: 3em;
        font: 100%/1.4 lora, serif;
        border: 1px solid #666;
      }
      h1{

          color: rgb(235, 45, 32);
          text-align: center;
      }
      p {
        margin: 0 0 1.5em;
        text-align:center;

      }
      .scroller {
        width: 100%;
        height: 65vh;
        overflow-y:scroll;
        overflow-x: hidden;
        border-radius: 6px;
        scrollbar-width: thin;
      }

     body  ::-webkit-scrollbar {
        width: 10px;
    }
     body ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
        border: 5px solid rgb(219, 217, 223);
    }

    body ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgb(41, 41, 165); 
  }
  
   ::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 10px;
    width: 60px;
  }

  
  /* Up */

  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width:  5px;
    background-position: center 4px;
    border-color: transparent transparent #9c9a9a transparent;
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #000000 transparent;
  }

  /* Down */

  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 5px;
    border-color: #9c9a9a transparent transparent transparent;
  }

  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #000000 transparent transparent transparent;
  } 