.App {
  text-align: center;
  background-color:  rgb(205, 214, 226);
}


.input{
  width: 40%;
  height: 40px;
  margin: 30px 0px 30px 5px ;
  padding-left: 20px;
  border-radius: 5px 0px 0px 5px;
  border:none;
  background-color: rgb(160, 210, 230);
}

.addbtn{
  width: 10%;
  height: 40px;
  /* margin-top: -20px; */
  border: none;
  cursor: pointer;
  background-color: rgb(126, 125, 223);
  border-radius: 0px 5px 5px 0px;
  
}
.addbtn:hover{
  width: 10%;
  height: 40px;
  font-size: 19px;
  background: rgb(58, 55, 228);
  border: none;
}

.trashbtn{
   float: right;
   cursor: pointer;
}


.trashbtn:hover{
  float: right;
  color: red;
  font-size: 20px;
  /* width: 20%; */
}

.card1{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin-right: 20px;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius:2.25rem; */
    
  }
  .card-body{
    box-shadow: 2px 2px 2px 2px rgb(138, 134, 141);
    background-color: rgb(130, 210, 228);
  margin: 0px 5px 15px 0px;
  /* text-align: justify; */
}

