.App {
  text-align: center;
  background-color:  rgb(205, 214, 226);
}


.input{
  width: 40%;
  height: 40px;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #7bd0df;
  outline: none;
  background: transparent;
  margin: 30px 0px 30px 5px ;
  padding-left: 20px;
  background-color: rgb(160, 210, 230);
}

.addbtn{
  width: 10%;
  height: 40.5px;
  border: none;
  border-radius: 1px 4px 4px 0px;
  cursor: pointer;
  outline: none;
  background: linear-gradient( 90deg, rgb(100, 175, 237) 0%, rgb(182, 211, 235) 100%  );
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  
  
}
.addbtn:hover{
  width: 10%;
  height: 40.5px;
  font-size: 19px;
  background: rgb(28, 160, 213);
  border: none;
}

.trashbtn{
   float: right;
   cursor: pointer;
}


.trashbtn:hover{
  float: right;
  color: red;
  font-size: 20px;
  /* width: 20%; */
}

.card1{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    margin-right: 20px;
    
    
  }
  .card-body{
    box-shadow: 2px 2px 2px 2px rgb(105, 150, 158);
    background: linear-gradient( 90deg,  rgb(130, 210, 228) 0%, rgb(194, 218, 238) 100%  );
    margin: 0px 5px 15px 0px;
    
    /* background-color: rgb(130, 210, 228); */
}

